* {
	box-sizing: border-box;
}
body {
	background-color: rgba(65, 167, 250, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
}
.container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.description {
	margin: 0;
	text-align: center;
}

.btn {
	cursor: pointer;
	font-size: 1.2rem;
	height: 200px;
	width: 200px;
	border-radius: 10px;
	outline: none;
	margin: 10px;
	box-shadow: 0 0.3rem rgba(121, 121, 121, 0.65);
}

.btn:active {
	transform: translate(0, 0.3rem);
	box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);
}

#pic-owner {
	position: absolute;
	bottom: 5px;
	left: 10px;
}
